.subreddits {
    grid-area: 2 / 11 / -1 / span 3;
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 999;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
}

.subredditbutton {
    width: 180px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .subredditbutton {
        width: 160px; 
        text-align: center;
    }
  }

  @media only screen and (max-width: 730px) {
    .subreddits {
        display: none;
    }
  }